# MongodB - data exploration, part 2

This time I'm just starting to organize things... Getting times into a usable format to start with!

In [4]:
import sys
sys.path.append("../")

from mdb_tools import load_data as ld
from mdb_tools import stats 
from mdb_tools import schemas
from pymongoarrow.api import Schema
import pyarrow as pa
import pandas as pd

In [2]:
yml_secrets_file = '../../secrets/mdb_secrets.yml'

# Access the database using the yml secrets file, and get a specific set of "collections"
col_entries, col_treatments, col_profile, col_devicestatus = ld.get_collections(yml_secrets_file)

# Grab schemas
entries_schema, treatments_schema, devicestatus_schema = schemas.mdb_schemas() 

# Load 
df_entries = col_entries.find_pandas_all({}, schema=entries_schema)
df_treatments = col_treatments.find_pandas_all({}, schema=treatments_schema)
df_devicestatus = col_devicestatus.find_pandas_all({}, schema=devicestatus_schema)

In [6]:
# Convert the time string to datetime format 
df_entries["time"] = pd.to_datetime(df_entries["dateString"])

# Make a new column that has year-day as strings
df_entries["yearday"] = stats.get_yeardays(df_entries["time"])

df_entries

         sgv                dateString                      time   yearday
0      182.0  2023-03-13T16:43:43.000Z 2023-03-13 16:43:43+00:00  2023-072
1      160.0  2023-03-13T16:13:43.000Z 2023-03-13 16:13:43+00:00  2023-072
2      172.0  2023-03-13T16:23:43.000Z 2023-03-13 16:23:43+00:00  2023-072
3      154.0  2023-03-13T15:58:43.000Z 2023-03-13 15:58:43+00:00  2023-072
4      157.0  2023-03-13T16:03:43.000Z 2023-03-13 16:03:43+00:00  2023-072
...      ...                       ...                       ...       ...
53787  229.0  2023-10-22T15:54:30.000Z 2023-10-22 15:54:30+00:00  2023-295
53788  222.0  2023-10-22T15:59:31.000Z 2023-10-22 15:59:31+00:00  2023-295
53789  222.0  2023-10-22T15:59:30.000Z 2023-10-22 15:59:30+00:00  2023-295
53790  225.0  2023-10-22T16:04:32.000Z 2023-10-22 16:04:32+00:00  2023-295
53791  225.0  2023-10-22T16:04:31.000Z 2023-10-22 16:04:31+00:00  2023-295

[53792 rows x 4 columns]

         sgv                dateString                      time   yearday
0      182.0  2023-03-13T16:43:43.000Z 2023-03-13 16:43:43+00:00  2023-072
1      160.0  2023-03-13T16:13:43.000Z 2023-03-13 16:13:43+00:00  2023-072
2      172.0  2023-03-13T16:23:43.000Z 2023-03-13 16:23:43+00:00  2023-072
3      154.0  2023-03-13T15:58:43.000Z 2023-03-13 15:58:43+00:00  2023-072
4      157.0  2023-03-13T16:03:43.000Z 2023-03-13 16:03:43+00:00  2023-072
...      ...                       ...                       ...       ...
53787  229.0  2023-10-22T15:54:30.000Z 2023-10-22 15:54:30+00:00  2023-295
53788  222.0  2023-10-22T15:59:31.000Z 2023-10-22 15:59:31+00:00  2023-295
53789  222.0  2023-10-22T15:59:30.000Z 2023-10-22 15:59:30+00:00  2023-295
53790  225.0  2023-10-22T16:04:32.000Z 2023-10-22 16:04:32+00:00  2023-295
53791  225.0  2023-10-22T16:04:31.000Z 2023-10-22 16:04:31+00:00  2023-295

[53792 rows x 4 columns]

AttributeError: 'DatetimeProperties' object has no attribute 'components'